@import 'compass';
@import "normalize";
@import "customMixins";
$sprite-image-sprite-dimensions: true;
@import "sprite-image/*.png";
@import "includes";

@include font-face("RobotoBlack", font-files("Roboto-Black-webfont.woff", "Roboto-Black-webfont.ttf", "Roboto-Black-webfont.svg#RobotoBlack"), "Roboto-Black-webfont.eot", normal, normal);
@include font-face("RobotoBold", font-files("Roboto-Bold-webfont.woff", "Roboto-Bold-webfont.ttf", "Roboto-Bold-webfont.svg#RobotoBold"), "Roboto-Bold-webfont.eot", normal, normal);
@include font-face("RobotoLight", font-files("Roboto-Light-webfont.woff", "Roboto-Light-webfont.ttf", "Roboto-Light-webfont.svg#RobotoLight"), "Roboto-Light-webfont.eot", normal, normal);
@include font-face("RobotoThin", font-files("Roboto-Thin-webfont.woff", "Roboto-Thin-webfont.ttf", "Roboto-Thin-webfont.svg#RobotoThin"), "Roboto-Thin-webfont.eot", normal, normal);

$fontRobotoBlack: "RobotoBlack";
$fontRobotoBold: "RobotoBold";
$fontRobotoLight: "RobotoLight";
$fontRobotoThin: "RobotoThin";

a{
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

body{
  font: 12px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #636363;
}

.center-wrapper{
  margin: 0 auto;
  width: 1000px;
}

.center-margin{
  margin: 0 auto;

}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.list-reset{
  padding: 0;
  margin: 0;
  list-style: none;
}

.robotoBlack{
  font-family: "robotoblack";
}
.robotoThin{
  font-family: "robotothin";
}
.robotoBlack{
  font-family: "robotoLight";
}
.robotoBlack{
  font-family: "robotoBold";
}
@import "includes";