@import 'compass';
@import "normalize";
@import "customMixins";
$sprite-image-sprite-dimensions: true;
@import "sprite-image/*.png";

a{
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6{
    display: inline-block;
    @extend .robotoLight;
}

h1{
    @include normal-font(45px, 45px);
}

h2{
    @include normal-font(32px, 32px);
}

body{
  font: 12px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #636363;
}

.center-wrapper{
  margin: 0 auto;
  width: 1000px;
}

.center-margin{
  margin: 0 auto;

}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.list-reset{
  padding: 0;
  margin: 0;
  list-style: none;
}

.robotoBlack{
  font-family: "robotoblack";
}

.robotoThin{
  font-family: "robotothin";
}

.robotoLight{
  font-family: "robotolight";
}

.robotoBold{
  font-family: "robotobold";
}

.bordered-title{
    border-bottom: 1px solid #2892BB;
}

.container{
    margin-top: 65px;
}

@import "includes";