@import 'compass';
@import "normalize";
@import "customMixins";
$sprite-image-sprite-dimensions: true;
@import "sprite-image/*.png";

a{
  text-decoration: underline;
  color: #2e87a9;
  &:hover{
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6{
    @extend .robotoLight;
    color: #464646;
    margin: 10px 0 15px 0;
    font-weight: normal;
}

h1{
    @include normal-font(45px, 45px);
}

h2{
    @include normal-font(24px, 24px);
    + .events-unit{
      margin-top: 30px;
    }
}

h3{
    @include normal-font(18px,18px);
    @extend .robotoLight;
    &.third-level{
      font-weight: bold;
      margin: 33px 0 20px;
    }
}

img{
  display: block;
}

html{
  overflow: auto;
}

body{
  font: 12px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #636363;
  background: #F6F6F6;
  min-width: 1000px;
  overflow-x: hidden;
  &.home-page{
    min-width: 1300px;
  }
}

.center-wrapper{
    margin: 0 auto;
    width: 1000px;
}

.center-margin{
  margin: 0 auto;

}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.list-reset{
  padding: 0;
  margin: 0;
  list-style: none;
}

.centered{
    text-align: center;
}

.arial{
    font-family: Arial, Tahoma, sans-serif;
}

.robotoBlack{
  font-family: "robotoblack";
}

.robotoThin{
  font-family: "robotothin";
}

.robotoLight{
  font-family: "robotolight";
}

.robotoBold{
  font-family: "robotobold";
}

.robotoLI{
  font-family: "robotolightitalic";
}

.bordered-title{
    display: block;
    
    a{
        border-bottom: 1px solid #2892BB;
        color: #464646;
        @include normal-font(32px, 32px);
        text-decoration: none;
        display: inline-block;

        &:hover{
            border-color: transparent;
        }
    }
}

.red-marker{
    ul{
      list-style: none;
      padding-left: 15px;
    }

    li{
        @include normal-font(13px, 27px);
        padding: 0 0 0 22px;
        background: url("../img/sprite-image/red-marker.png") left 6px no-repeat;
    }
}

.works-nav-block + .container, .share-block + .container{
    margin-top: 40px;
}

.container{
    margin-top: 80px;
    padding: 0 20px;
    @include box-sizing(border-box);
    position: relative;
    z-index: 1;

    > h2{
        color: #464646;
    }
}

.page-title{
    color: #464646;
    @include normal-font(45px, 45px);
    @extend .robotoLight;
    margin: 0 0 45px 0;
}


.feed-unit{
    a{
      display: block;
      color: #2E87A9;
      @include normal-font(12px, 18px);
      text-decoration: none;
      &:hover .feed-name{
        text-decoration: none;
      }
    }

    .feed-name{
      text-decoration: underline;
    }

    .feed-img-block{
        position: relative;
        display: inline-block;

        a{
            display: block;
        }

        img{
            border: 1px solid #fff;
            vertical-align: middle;
        }

        .video-play{
            cursor: pointer;
            @include sprite-image-sprite(video-play);
            position: absolute;
            top: 35px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .feed-unit-details{
        margin: 8px 0 0 0;

        .date{
            color: #ACACAC;
            @include normal-font(10px, 10px);
            display: block;
            min-height: 13px;
        }

        .count{
            color: #959595;
            @include normal-font(10px, 10px);
            display: inline-block;
            margin: 0;
            position: relative;
            top: -5px;
        }

        .feed-name{
          display: inline-block;
          max-height: 36px;
          overflow: hidden;
          margin-right: 10px;
        }
    }

    &.picture{
        .feed-img-block{
            padding: 0 0 4px 4px;
            background: url("../img/photo-slider-frame.png") left bottom no-repeat;
        }
    }
}


.image-container-text{
    padding: 15px 0;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;

    figure{
      display: inline-block;
      text-align: right;
    }
    figcaption{
        color: #636363;
        @include normal-font(13px, 13px);
        font-style: italic;
        margin: 10px 0 0 0;
    }
}


.center{
  .video-side.full{
    width: auto;
  }
  .video-side{
    + .pagination{
      border-top: 1px solid #ebebeb;
      margin: 0;
      padding: 40px 0;
    }
  }

  .page-desc.plener-intro{
    border-bottom: none;
    padding: 0;
  }

  .plener-text{
    @extend .robotoThin;
    font-size: 18px;
    line-height: 27px;
    color: #636363;
  }

  .plener-columns{
    color: #636363;
    line-height: 18px;
    margin-bottom: 70px;
    > div{
      width: 450px;
    }
  }

  .latest-pleners{
    margin-right: -100px;
    h2{
      margin: 0 0 5px;
    }
    .events-unit{
      padding-top: 14px;
      border: none;
      .events-info{
        margin-right: 100px;
        width: 220px;
        .date{
          font-size: 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.custom-label{
    background: #fff;
    @include box-sizing(border-box);
    position: relative;
    min-height: 95px;
    line-height: 95px;
    margin: 40px 0;
    @include border-radius(7px 7px 7px 7px / 30px 30px 30px 30px);
    @include box-shadow(0 1px 60px -20px rgba(0, 0, 0, 0.2));
    .text-wrapper{
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        line-height: normal;
    }
    &.promo{
        padding: 0px 57px;
    }
    &.plener{
        margin-top: 65px;
        font-size: 14px;
        color: #464646;
        .plener-image{
            bottom: 0;
            left: 55px;
            position: absolute;
            line-height: normal;
        }
        .plener-desc{
            margin: 0 50px 0 195px;
            line-height: 18px;
            color: #464646;
        }
    }
}

@import "includes";