.dark-button{
    display: inline-block;
    text-decoration: none;
    height: 32px;
    color: #ffffff;
    @include normal-font(14px, 28px);
    font-weight: bold;
    padding: 0 13px;
    border: 2px solid #fff;
    background: url("../img/gradient-btn-small.png");
    @include border-radius(28px);
    @include box-sizing(border-box);
    @include box-shadow(0 3px 7px 1px rgba(0, 0, 0, .75));
    &.large{
        background: url("../img/gradient-btn.png");
    }
    &.medium{
        background: url("../img/gradient-btn-medium.png");
        @include normal-font(18px, 36px);
        height: 43px;
        padding: 0 25px;
    }
}