.center{
    padding: 0 0 60px 0;

    .add-date{
        display: block;
        color: #acacac;
        font-style: italic;
        margin: 0 0 30px 0;
    }

    .page-desc{
        padding: 0 0 25px 0;
        border-bottom: 1px solid #EBEBEB;
        margin: 0 0 50px 0;

        h2{
            @extend .robotoLight;
            color: #464646;
            @include normal-font(45px, 45px);
            margin: 0 0 40px 0;
        }

        .desc-text{
            @include normal-font(12px, 18px);
            color: #9b9b9b;
            margin: 0;
        }

        .desc-with-filter{
            .desc-text{
                margin: 0 240px 0 0;
            }

            .filter-dropdown{
                width: 230px;
            }
        }
    }

    .council-block{
        margin: 0 0 0 -20px;

        .council-unit{
            width: 470px;
            margin: 0 20px 40px 0;
            position: relative;

            .council-img{
                width: 265px;

                img{
                    border-radius: 15px 15px 15px 15px /120px 120px 120px 120px;
                    @include box-shadow(0 6px 17px rgba(0, 0, 0, 0.3));
                }
            }

            .council-details{
                position: absolute;
                bottom: 40px;
                left: 265px;

                h3{
                    @extend .robotoLight;
                    color: #898989;
                    @include normal-font(24px, 27px);
                    margin: 0 0 20px 0;
                    width: 150px;
                }

                p{
                    color: #898989;
                    @include normal-font(14px, 18px);
                    margin: 0;
                }
            }
        }
    }

    .photo-list{
        @extend .list-reset;

        li{
            width: 160px;
            height: 160px;
            text-align: center;
            float: left;
            margin: 15px;

            img{
                max-width: 100%;
                height: auto;
            }
        }
    }

    .more-btn-block{
        text-align: center;
        margin: 40px 0 0 0;
    }

    .photo-side, .video-side{
        width: 460px;

        h3{
            margin: 0 0 40px 0;
        }

        .feed-unit{
            margin: 0 58px 60px 0;
            width: 172px;
            float: left;
        }

        .more-btn{
            margin: 0 50px 0 0;
        }
    }

    .custom-carousel-block{
        margin: 35px 0 55px 0;

        h3{
            @extend .robotoBlack;
            padding: 0 0 14px 0;
            border-bottom: 1px solid #EBEBEB;
        }

        .custom-carousel{
            position: relative;

            .bx-prev, .bx-next{
                position: absolute;
                top: 40%;
                text-indent: -999999px;
            }

            .bx-prev{
                left: 0;
                @include sprite-image-sprite(grey-arrow-left);
            }

            .bx-next{
                right: 0;
                @include sprite-image-sprite(grey-arrow-right);
            }

            .custom-carousel-list{
                @extend .list-reset;

                li{
                    width: 110px;
                    height: 110px;
                    float: left;
                    text-align: center;

                    a{
                        display: block;
                    }
                }
            }
        }
    }

    .participate-btn{
        margin: 35px 0 0 0;
    }

    .video-container{
      padding: 60px 0 45px;
      width: 660px;
    }
}

.events-block{

  + .events-block{
    margin: 60px 0 0 0;
  }

  h3{
    margin: 0 0 30px 0;
  }

  .events-unit{
    padding-bottom: 15px;
    border-bottom: 1px solid #EBEBEB;

    + .events-unit{
      padding-top: 19px;
    }

    .events-img{
      width: 145px;
      margin: 0 15px 0 0;

      a{
        display: block;
      }

      img{
        max-width: 100%;
        height: auto;
        border: 1px solid #d7d7d7;
      }
    }

    .events-info{
      overflow: hidden;

      .date{
        display: block;
        color: #acacac;
        @extend .robotoLight;
        @include normal-font(18px, 18px);
        margin: 0 0 10px 0;
      }

      a{
        color: #2e87a9;
        font-weight: bold;
        @include normal-font(14px, 14px);
        + .date{
          display: inline;
          font-size: 10px;
          margin-left: 7px;
        }
      }

      p{
        color: #636363;
        @include normal-font(12px, 18px);
        margin: 5px 0;
      }
    }

    &.news{
      .events-info{
        .date{
          @include normal-font(10px, 10px);
          margin: 10px 0 15px 0;
        }
      }
    }
  }

  &.actions{
    .events-info{
      a{
        color: #75b3ca;
      }
    }
  }

  .more-btn{
    margin-top: 20px;
  }
}

.partners-list{
  margin-right: -20px;
  li{
    @extend .fl-left;
    margin-top: 20px;
    width: 220px;
    text-align: center;
    height: 120px;
    line-height: 120px;
    margin-bottom: 10px;
  }
  a{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
}

.edit-profile{
    .table-profile-table{
        label{
            position: relative;

            &:before{
                content: "*";
                position: absolute;
                right: -2px;
                top: -15px;
                color: #ed1c24;
                font-size: 28px;
                @extend .robotoBlack;
            }
        }

        tr{
            td{
                padding: 15px 20px;

                &:first-child{
                    padding-right: 0;
                    width: 220px;
                    text-align: right;
                    color: #464646;
                    @include normal-font(18px, 18px);
                    @extend .robotoLight;
                }

                span{
                    color: #9b9b9b;
                    font-size: 13px;
                    display: inline-block;
                    margin: 0 0 0 15px;
                }
            }
        }
    }

    .page-desc{
        margin: 0 0 25px 0;
    }

    .custom-label{
        padding: 50px 57px;

        .promo-code{
            color: #c2c2c2;
            @include normal-font(14px, 14px);
            padding: 0 34px 0 0;
            border-right: 1px solid #EBEBEB;

            .code{
                color: #464646;
                @include normal-font(35px, 35px);
                @extend .robotoLight;
                display: block;
            }
        }

        .promo-code-desc{
            padding: 0 0 0 32px;
            overflow: hidden;
            color: #9b9b9b;
            @include normal-font(14px, 18px);

            strong{
                color: #464646;
            }
        }
    }

    .profile-text{
        margin: 45px 0 0 0;
        color: #9b9b9b;
        font-size: 13px;
        border-bottom: 1px solid #EBEBEB;
        padding: 0 0 5px 0;
    }

    .submit-btn-block{
        margin: 25px 0 0 0;
        padding: 35px 0 0 0;
        border-top: 1px solid #EBEBEB;

        .custom-btn{
            margin: 0 0 0 262px;
        }
    }
}
