.center{
    padding: 0 0 60px 0;

    .add-date{
        display: block;
        color: #acacac;
        font-style: italic;
        margin: 0 0 30px 0;
    }

    .page-desc{
        padding: 0 0 25px 0;
        border-bottom: 1px solid #EBEBEB;
        margin: 0 0 50px 0;

        h2{
            @extend .robotoLight;
            color: #464646;
            @include normal-font(45px, 45px);
            margin: 0 0 40px 0;
        }

        .desc-text{
            @include normal-font(12px, 18px);
            color: #9b9b9b;
            margin: 0;
        }

        .desc-with-filter{
            .desc-text{
                margin: 0 240px 0 0;
            }

            .filter-dropdown{
                width: 308px;
            }
        }
    }

    .council-block{
        .council-unit{
            width: 460px;
            margin: 0 20px 40px 0;
            position: relative;

            .council-img{
                width: 265px;

                img{
                    @include border-radius(15px 15px 15px 15px /120px 120px 120px 120px);
                    @include box-shadow(0 6px 17px rgba(0, 0, 0, 0.3));
                }
            }

            .council-details{
                position: absolute;
                top: 110px;
                left: 265px;

                h3{
                    @extend .robotoLight;
                    color: #898989;
                    @include normal-font(24px, 27px);
                    margin: 0 0 20px 0;
                    width: 150px;
                }

                p{
                    color: #898989;
                    @include normal-font(14px, 18px);
                    margin: 0;
                }
            }
        }
    }

    .photo-list{

        .photo-list-unit{
            width: 160px;
            height: 160px;
            text-align: center;
            float: left;
            margin: 15px;

            img{
                max-width: 100%;
                height: auto;
            }
        }
    }

    .more-btn-block{
        text-align: center;
        margin: 40px 0 0 0;
    }

    .photo-side, .video-side{
        width: 460px;

        h3{
            margin: 0 0 40px 0;
        }

        .feed-unit{
            margin: 0 58px 60px 0;
            width: 172px;
            float: left;
        }

        .more-btn{
            margin: 0 50px 0 0;
        }
    }

    .custom-carousel-block{
        margin: 35px 0 55px 0;

        h3{
            @extend .robotoBlack;
            padding: 0 0 14px 0;
            border-bottom: 1px solid #EBEBEB;
        }

        .custom-carousel{
            position: relative;

            .bx-prev, .bx-next{
                position: absolute;
                top: 40%;
                text-indent: -999999px;
            }

            .bx-prev{
                left: 0;
                @include sprite-image-sprite(grey-arrow-left);
            }

            .bx-next{
                right: 0;
                @include sprite-image-sprite(grey-arrow-right);
            }

            .custom-carousel-list{
                @extend .list-reset;

                li{
                    width: 110px;
                    height: 110px;
                    float: left;
                    text-align: center;

                    a{
                        display: block;
                    }
                }
            }
        }
    }

    .participate-btn{
        margin: 35px 0 0 0;
    }

    .video-container{
      padding: 60px 0 45px;
      width: 660px;
    }
}

.events-block{

  + .events-block{
    margin: 60px 0 0 0;
  }

  h3{
    margin: 0 0 30px 0;
  }

  .events-unit{
    padding-bottom: 15px;
    border-bottom: 1px solid #EBEBEB;

    + .events-unit{
      padding-top: 19px;
    }

    .events-img{
      width: 145px;
      margin: 0 15px 0 0;

      a{
        display: block;
      }

      img{
        max-width: 100%;
        height: auto;
        border: 1px solid #d7d7d7;
      }
    }

    .events-info{
      overflow: hidden;

      .date{
        display: block;
        color: #acacac;
        @extend .robotoLight;
        @include normal-font(18px, 18px);
        margin: 0 0 10px 0;
      }

      a{
        color: #2e87a9;
        font-weight: bold;
        @include normal-font(14px, 14px);
        + .date{
          display: inline;
          font-size: 10px;
          margin-left: 7px;
        }
      }

      p{
        color: #636363;
        @include normal-font(12px, 18px);
        margin: 5px 0;
      }
    }

    &.news{
      .events-info{
        .date{
          @include normal-font(10px, 10px);
          margin: 10px 0 15px 0;
        }
      }
    }
  }

  &.actions{
    .events-info{
      a{
        color: #75b3ca;
      }
    }
  }

  .more-btn{
    margin-top: 20px;
  }
}

.partners-list{
  margin-right: -20px;
  li{
    @extend .fl-left;
    margin-top: 20px;
    width: 220px;
    text-align: center;
    height: 120px;
    line-height: 120px;
    margin-bottom: 10px;
  }
  a{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
}

.edit-profile{
    .table-profile-table{
        label{
            position: relative;

            &:before{
                content: "*";
                position: absolute;
                right: -2px;
                top: -15px;
                color: #ed1c24;
                font-size: 28px;
                @extend .robotoBlack;
            }
        }

        tr{
            td{
                padding: 15px 20px;

                &:first-child{
                    padding-right: 0;
                    width: 220px;
                    text-align: right;
                    color: #464646;
                    @include normal-font(18px, 18px);
                    @extend .robotoLight;
                }

                span{
                    color: #9b9b9b;
                    font-size: 13px;
                    display: inline-block;
                    margin: 0 0 0 15px;
                }
            }
        }
    }

    .page-desc{
        margin: 0 0 25px 0;
    }

    .custom-label{
        .promo-code{
            color: #c2c2c2;
            @include normal-font(14px, 14px);
            padding: 0 34px 0 0;
            border-right: 1px solid #EBEBEB;

            .code{
                color: #464646;
                @include normal-font(35px, 35px);
                @extend .robotoLight;
                display: block;
            }
        }

        .promo-code-desc{
            padding: 0 0 0 32px;
            overflow: hidden;
            color: #9b9b9b;
            @include normal-font(14px, 18px);

            strong{
                color: #464646;
            }
        }
    }

    .profile-text{
        margin: 45px 0 0 0;
        color: #9b9b9b;
        font-size: 13px;
        border-bottom: 1px solid #EBEBEB;
        padding: 0 0 5px 0;
    }

    .submit-btn-block{
        margin: 25px 0 0 0;
        padding: 35px 0 0 0;
        border-top: 1px solid #EBEBEB;

        .custom-btn{
            margin: 0 0 0 262px;
        }
    }

    .errors-block{
        margin: 0 0 50px 245px;

        h2{
            color: #ed1c24;
            @include normal-font(36px, 36px);
            margin: 0 0 20px 0;
        }

        h3{
            color: #f96c72;
            @include normal-font(14px, 14px);
            @extend .arial;
            margin: 0;
        }
    }

    .step1{
        .next-step{
            margin: 50px 0 0 245px;
        }
    }

    .step3{
        width: 600px;
        margin: 20px auto 0;
        text-align: center;

        h2{
            color: #2fb742;
            @include normal-font(36px, 36px);
        }

        p{
            color: #9b9b9b;
            @include normal-font(14px, 18px);
        }

        .back-btn{
            display: inline-block;
            margin: 45px 0 0 0;
        }
    }
}

.radius-img{
    @include border-radius(20px 20px 20px 20px /120px 120px 120px 120px);
    @include box-shadow(0 6px 17px rgba(0, 0, 0, 0.3));
}

.committee{
    .committee-head{
        .committee-head-img{
            width: 225px;
            margin: 0 20px 0 0;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        .committee-head-details{
            overflow: hidden;

            h3{
                color: #464646;
                @include normal-font(36px, 36px);
                margin: 0 0 90px 0;
            }

            dl{
                margin: 0;
                padding: 0;

                dt{
                    color: #464646;
                    @include normal-font(24px, 24px);
                    @extend .robotoLight;
                    margin: 0 0 25px 0;
                }

                dd{
                    margin: 0;
                    color: #898989;
                    @include normal-font(14px, 16px);

                    &.email{
                        margin: 50px 0 0 0;
                    }
                }
            }
        }
    }

    .project-managers-block{
        margin: 80px 0 0 0;

        h3{
            color: #464646;
            @include normal-font(24px, 24px);
            padding: 0 0 8px 0;
            border-bottom: 1px solid #DBC4BD;
            margin: 0 0 30px 0;
        }

        .project-manager-unit{
            width: 225px;
            margin: 0 90px 0 0;
            float: left;

            .project-manager-img{
                img{
                    max-width: 100%;
                    height: auto;
                }
            }

            dl{
                margin: 25px 0 0 0;
                padding: 0;
                text-align: center;

                dt{
                    color: #464646;
                    @extend .robotoLight;
                    @include normal-font(24px, 24px);
                    margin: 0 0 13px 0;
                }

                dd{
                    margin: 0 0 10px 0;
                    color: #898989;
                    @include normal-font(14px, 18px);
                }
            }
        }
    }
}

.participant{
    .left-side{
        width: 130px;

        + .right-side{
            margin: 0 0 0 165px;
        }
    }

    .right-side{
        dl{
            margin: 0;

            dt{
                color: #363636;
                @include normal-font(45px, 35px);
                @extend .robotoLight;
                margin: 0 0 30px 0;

                .age{
                    vertical-align: top;
                    margin: 0 0 0 10px;
                    color: #898989;
                    @include normal-font(24px, 18px);
                    display: inline-block;
                    padding: 9px 15px;
                    background: #fff;
                    @include border-radius(20px 20px 20px 20px/120px 120px 120px 120px);
                    @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
                }
            }

            dd{
                margin: 0;
                font-style: italic;
                @include normal-font(16px, 16px);
                color: #898989;

                a{
                    font-style: normal;
                    color: #2e87a9;
                    @include normal-font(12px, 12px);
                    float: right;
                    text-decoration: underline;

                    &:hover{
                        text-decoration: none;
                    }
                }

                + dd{
                    margin: 10px 0 0 0;
                }
            }
        }

        p{
            color: #363636;
            @include normal-font(14px, 18px);
            margin: 35px 0 0 0;
        }
    }
}

.competition-works{
    margin: 12px 0 0 0;

    h3{
        color: #c2c2c2;
        @include normal-font(24px, 24px);
        margin: 0 0 30px 0;
    }

    .competition-work-unit{
        display: inline-block;
        vertical-align: top;
        width: 209px;
        margin: 0 28px 50px 0;

        .competition-work-img{
            width: 209px;
            height: 209px;
            padding: 15px;
            @include box-sizing(border-box);
            background: #fff url("../img/default-frame.png") no-repeat;
            text-align: center;
            position: relative;
            @include box-shadow(0 4px 7px rgba(0, 0, 0, 0.2));

            a{
                display: block;
            }

            img{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                @include box-shadow(0 1px 3px rgba(#1e3239, 0.30));
            }

            &:before{
                content: "";
                position: absolute;
                width: 91px;
                height: 40px;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -18px;
            }
        }

        .competition-work-info{
            margin: 20px 0 0 0;
            padding: 0;
            text-align: center;

            dt{
                @include normal-font(14px, 14px);
                color: #acacac;
                font-style: italic;
            }

            dd{
                font-size: 18px;
                color: #363636;
                margin: 15px 0 0 0;
            }
        }

        &.second-place{
            .competition-work-img{
                background: url("../img/second-place-frame.png") no-repeat;

                &:before{
                    background: url("../img/second-place-text.png") no-repeat;
                }
            }
        }
        &.first-place{
            .competition-work-img{
                background: url("../img/first-place-frame.png") no-repeat;

                &:before{
                    background: url("../img/first-place-text.png") no-repeat;
                }
            }
        }
        &.third-place{
            .competition-work-img{
                background: url("../img/third-place-frame.png") no-repeat;

                &:before{
                    background: url("../img/third-place-text.png") no-repeat;
                }
            }
        }
    }
}

.competition-info-block{
    margin: 65px 0 0 0;
    padding: 0 0 9px 0;
    border-bottom: 1px solid #B7C4CE;

    h3{
        margin: 0;
        color: #464646;
        @include normal-font(24px, 24px);
    }

    .competition-info{
        color: #898989;
        @include normal-font(12px, 12px);
        margin: 12px 0 0 0;
    }
}

.participants{
    .filter-list{
        list-style: none;
        margin: 0 0 30px 0;
        padding: 0;

        li{
            float: left;

            span.label-text{
                display: block;
                @extend .robotoLight;
                color: #464646;
                @include normal-font(18px, 18px);
                margin: 0 0 10px 0;
            }

            + li{
                margin: 0 0 0 15px;
            }
        }
    }

    .participants-list{
        .participants-unit{
            width: 290px;
            display: inline-block;
            margin: 0 15px 60px 0;

            .participants-img{
                img{
                    max-width: 100%;
                    height: auto;
                }
            }

            .participants-info{
                margin: 22px 0 0 0;
                padding: 0 0 0 10px;

                dt{
                    a{
                        color: #2e87a9;
                        @extend .robotoLight;
                        @include normal-font(18px, 18px);
                        display: inline-block;
                    }
                }

                dd{
                    margin: 10px 0 0 0;
                    font-style: italic;
                    color: #acacac;
                    @include normal-font(14px, 14px);
                }
            }
        }
    }
}

.work-author-block{
    .work-author-img{
        width: 56px;
        margin: 0 15px 0 0;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    .work-author-details{
        overflow: hidden;
        margin: 0;

        dt{
            a{
                color: #2e87a9;
                display: inline-block;
                @include normal-font(24px, 19px);
                @extend .robotoLight;
            }
        }

        dd{
            margin: 10px 0 0 0;
            @include normal-font(14px, 14px);
            color: #898989;
            font-style: italic;
        }
    }
}

.work-inner{
    .work-img{
        margin: 0 20px 0 0;
        width: 466px;
        height: 466px;
        padding: 15px;
        @include box-sizing(border-box);
        background: #fff url("../img/big-default-frame.jpg") no-repeat;
        text-align: center;
        position: relative;
        @include box-shadow(0 4px 7px rgba(0, 0, 0, 0.2));

        a{
            display: block;
        }

        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            @include box-shadow(0 1px 3px rgba(#1e3239, 0.30));
        }
    }

    .work-details{
        width: 460px;

        .work-material{
            color: #898989;
            font-style: italic;
            @include normal-font(14px, 14px);
            margin: 0 0 30px 0;

            .material-icon{
                display: inline-block;
                vertical-align: -6px;
                margin: 0 3px 0 0;
                @include sprite-image-sprite(material-icon);
            }
        }

        h2{
            color: #363636;
            @include normal-font(32px, 36px);
            margin: 0 0 20px 0;
        }



        .work-like-block{
            padding: 20px 0 0 0;
            border-top: 1px solid #D3D7DD;
            margin: 45px 0 0 0;

            h3{
                font-style: italic;
                display: inline-block;
                color: #363636;
                @include normal-font(18px,18px);
                padding: 0 25px 15px 0;
                margin: 0;
                position: relative;

                .arrow-icon{
                    position: absolute;
                    @include sprite-image-sprite(arrow);
                    right: 0;
                    top: 10px;
                }
            }

            p{
                color: #acacac;
                @include normal-font(12px, 18px);
                margin: 15px 0;
            }
        }
    }

    .competition-works{
        margin: 30px 0 0 0;
    }
}

.works-nav-block{
    padding: 20px 20px 14px 20px;
    @include box-sizing(border-box);
    border-bottom: 1px solid #E9E9E9;

    .current-block{
        margin: 0 250px;
        text-align: center;
    }

    .prev-arrow, .next-arrow, .prev-work, .next-work{
        display: inline-block;
    }

    .prev-arrow{
        @include sprite-image-sprite(blue-arrow-left);
        margin: 0 5px 0 0;
    }

    .next-arrow{
        margin: 0 0 0 5px;
        @include sprite-image-sprite(blue-arrow-right);
    }

    .next-work{
        text-align: right;
    }

    .all-concurs{
        text-decoration: none;
        border-bottom: 1px dashed #2e87a9;

        &:hover{
            border-color: transparent;
        }
    }
}

.share-block{
    text-align: right;
    padding: 17px 0 0 0;
}

.block-with-counter{
    h2{
        color: #464646;
        @include normal-font(45px, 57px);
        margin: 0 0 60px 0;

        span{
            color: #c2c2c2;
            @include normal-font(44px, 44px);
        }
    }

    h3{
        color: #898989;
        @include normal-font(12px, 12px);
        @extend .arial;
        margin: 0 0 10px 0;
    }

    .counter{
        padding: 14px 30px 10px 30px;

        .counter-block{
            width: 235px;
        }

        .action-text{
            padding: 0 65px 0 0;
            @include normal-font(24px, 27px);
            color: #9b9b9b;
            @extend .robotoLight;
            margin: 19px 257px 0 275px;
            background: url(../img/arrow-right.png) right center no-repeat;
        }

        .participate-btn{
            margin: 10px 0 0 0;
        }
    }
}

.competition-block{
    .competition-works{
        .competition-work-unit{
            .competition-work-info{
                dt{
                    color: #363636;
                    @include normal-font(18px, 15px);
                }

                dd{
                    color: #acacac;
                    font-style: italic;
                    @include normal-font(12px, 14px);
                    margin: 10px 0 0 0;

                    a{
                        @include normal-font(12px, 12px);
                        display: inline-block;
                    }
                }
            }
        }
    }

    .work-search-block{
        label{
            color: #464646;
            @include normal-font(18px, 18px);
            @extend .robotoLight;
            top: 10px;
            left: 10px;
        }

        input[type="text"]{
            width: 370px;
        }

        button[type="submit"]{
            position: absolute;
            right: 0;
            top: 1px;
            height: 35px;
        }

        .placeholder-container{
            display: inline-block;
            padding: 0 90px 0 0;
        }
    }

    .competition-works{
        margin: 50px 0 0 0;
    }

    .more-btn-block{
        margin: 0;
    }
}

.committee-side{
    + .center{
        margin-right: 220px!important;
    }
}

.works-title{
    @include normal-font(32px, 32px);
    margin: 0 0 50px 0;
}

.artistic-committee{
    h2{
        @include normal-font(24px, 24px);
        margin: 0 0 30px 0;
    }

    .member-unit{
        width: 300px;
        float: left;
        margin: 0 20px 45px 0;

        .member-img{
            width: 98px;
            margin: 0 15px 0 0;

            img{
                max-width: 100%;
                height: auto;
            }
        }

        .member-info{
            overflow: hidden;
            margin: 0;
            padding: 25px 0 0 0;

            dt{
                color: #464646;
                @include normal-font(18px, 14px);
                @extend .robotoLight;
            }

            dd{
                margin: 12px 0 0 0;
                color: #898989;
                @include normal-font(12px, 18px);
            }
        }
    }
}

.final-title-block{
    margin-top: 55px;
    padding: 0 20px;
    @include box-sizing(border-box);

    h2{
        color: #464646;
        @include normal-font(45px, 57px);
        margin: 0 315px 60px 0;

        span{
            color: #c2c2c2;
            @include normal-font(44px, 44px);
        }
    }

    .counter-block{
        .counter{
            float: left;
            @include box-sizing(border-box);
            width: 95px;
            height: 95px;
            background: #fff;
            @include border-radius(50px);
            padding: 30px 0 0 0;
            text-align: center;
            margin: 0 15px;

            dt{
                color: #464646;
                @include normal-font(20px, 14px);
                @extend .robotoLight;
                margin: 0 0 15px 0;
            }

            dd{
                color: #c2c2c2;
                @include normal-font(12px, 9px);
                margin: 0;
                font-style: italic;
            }
        }
    }
}

.block-all-competitions{
    padding: 18px 20px 0 20px;
    @include box-sizing(border-box);
    @include opacity(0);
    position: absolute;
    top: -10000px;

    &.show{
        @include opacity(1);
        position: relative;
        top: 0;
    }

    .collapse-block{
        text-align: center;

        .collapse-btn{
            text-decoration: none;
            border-bottom: 1px dashed #2e87a9;

            &:hover{
                border-bottom-color: transparent;
            }
        }
    }

    .competitions-slider{
        margin: 35px 0 0 0;

        .competitions-calendar-unit{
            float: left;
            padding: 0 0 0 20px;

            h2{
                @include normal-font(24px, 20px);
                margin: 0 0 18px 0;
                padding: 0 0 17px 0;
                position: relative;

                &:before{
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: #F6F6F6;
                    border: 1px solid #2e87a9;
                    @include border-radius(50px);
                    position: absolute;
                    left: -5px;
                    bottom: -3px;
                    z-index: 4;
                }
            }

            .competition-unit{
                line-height: 12px;
                margin: 0 0 10px 0;
                position: relative;

                a{
                    line-height: 15px;

                    &.current{
                        color: #fff;
                        background: #FF8F07;
                        text-decoration: none;
                    }
                }

                .date{
                    color: #9b9b9b;
                    @include normal-font(10px, 10px);
                    display: inline-block;
                    margin: 0 0 0 3px;
                }
            }

            .current-concurs{
                position: absolute;
                top: 2px;
                left: -20px;
                @include sprite-image-sprite(talant-icon);
            }
        }
    }

    .bx-prev, .bx-next{
        position: absolute;
        top: 17px;
        text-indent: -999999px;
    }

    .bx-prev{
        @include sprite-image-sprite(single-blue-arrow-left);
        left: 17px;
    }

    .bx-next{
        @include sprite-image-sprite(single-blue-arrow-right);
        right: 17px;
    }

    .white-line{
        position: absolute;
        height: 1px;
        background: #fff;
        top: 105px;
        left: -320px;
        right: -320px;
    }
}

.tabs-holder{
    .tabs{
        list-style: none;
        margin: 0;
        padding: 0 0 0 20px;

        li{
            float: left;

            a{
                display: inline-block;
                height: 41px;
                width: 162px;
                font-size: 18px;
                @include normal-font(18px, 39px);
                color: #2e87a9;
                @extend .robotoBlack;
                text-align: center;
                text-decoration: none;

                &.active{
                    color: #fff;

                    span{
                        border-color: transparent;
                    }
                }

                span{
                    border-bottom: 1px dashed #2e87a9;
                }

                &.winners{
                    &.active{
                        @include sprite-image-sprite(winners-tab);
                    }
                }

                &.finalist{
                    &.active{
                        @include sprite-image-sprite(finalist-tab);
                    }
                }
            }
        }
    }
}

.winners-slide-block{
    height: 453px;
    padding: 35px 0 0 0;
    background: url("../img/winners-slide-img.jpg") top center no-repeat;

    .tabs-container{
        .inner-tabs-container{
            position: relative;

            .btn-prev, .btn-next{
                position: absolute;
                top: 115px;
                border: none;
                outline: none;

                &:disabled{
                    @include opacity(0);
                }
            }

            .btn-prev{
                right: 10px;
                @include sprite-image-sprite(big-right-arrow);
            }

            .btn-next{
                left: 10px;
                @include sprite-image-sprite(big-left-arrow);
            }
        }

        .winners{
            .winner-unit{
                width: 715px;
                height: 315px;
                float: left;

                + .winner-unit{
                    margin: 0 0 0 100px;
                }

                &.first-place{
                    .winner-picture{
                        background: #fff url("../img/middle-first-place-frame.png") no-repeat;
                    }
                }

                &.second-place{
                    .winner-picture{
                        background: #fff url("../img/middle-second-place-frame.png") no-repeat;
                    }
                }

                &.third-place{
                    .winner-picture{
                        background: #fff url("../img/middle-third-place-frame.png") no-repeat;
                    }
                }

                .winner-picture{
                    margin: 0 25px 0 0;
                    width: 311px;
                    height: 310px;
                    padding: 20px;
                    @include box-sizing(border-box);
                    background: #fff url("../img/middle-first-place-frame.png") no-repeat;
                    text-align: center;
                    position: relative;
                    @include box-shadow(0 4px 7px rgba(0, 0, 0, 0.2));

                    a{
                        display: block;
                    }

                    img{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        @include box-shadow(0 1px 3px rgba(#1e3239, 0.30));
                    }
                }

                .winner-details{
                    width: 370px;
                    color: #fff;

                    h2{
                        color: #fff;
                        @include normal-font(36px, 30px);
                        margin: 30px 0 35px 0;
                    }

                    h3{
                        color: #fff;
                        @include normal-font(24px, 26px);
                        margin: 0 0 20px 0;
                    }

                    .work-author-block{
                        margin: 0 0 25px 0;

                        .work-author-img{
                            img{
                                border: 2px solid #fff;
                                @include box-shadow(0 0 20px #fff);
                            }
                        }

                        .work-author-details{
                            dt{
                                a{
                                    color: #fff;
                                }
                            }

                            dd{
                                color: #fff;
                                @include normal-font(12px, 12px);
                                margin: 8px 0 0 0;
                            }
                        }
                    }

                    .work-desc{
                        @include normal-font(12px, 18px);
                    }
                }
            }
        }

        .custom-slider{
          overflow: visible!important;
        }
        .scrollbar{
            background: none;
            margin: 45px 0 0 0;
            width: 960px;

            .handle{
                height: 7px;
                cursor: pointer;
                background: #fff;
                @include border-radius(5px);
                @include box-shadow(0 3px 6px rgba(0,0,0,0.30));
            }
        }
    }
}

.inner-tabs-holder{
    height: 36px;
    margin-bottom: 35px;

    .inner-tabs{
        list-style: none;
        margin: 0;
        height: 36px;
        line-height: 34px;
        display: inline-block;
        padding: 0 23px;
        background: rgba(255,255,255,0.70);
        @include border-radius(25px 25px 25px 25px/120px 120px 120px 120px);

        li{
            float: left;

            a{
                display: inline-block;
                line-height: normal;
                text-decoration: none;
                border-bottom: 1px dashed #2b8595;

                &:hover{
                    border-color: transparent;
                }

                &.active{
                    color: #000;
                    border-color: transparent;
                }
            }

            + li{
                margin: 0 0 0 30px;
            }
        }
    }
}