.ie8{
    .edit-profile{
        .table-profile-table{
            label{
                z-index: -1;

                &:before{
                    top: -7px;
                }
            }
        }
    }

    .medium-textarea{
        overflow-x: hidden;
    }

    .competition-block{
        .work-search-block{
            button[type="submit"]{
                top: 1px;
            }
        }
    }

    .tabs-container{
        .scrollbar{
            margin: 0;
            top: 360px;
        }
    }
}