.ie8{
    .edit-profile{
        .table-profile-table{
            label{
                z-index: -1;
            }
        }
    }

    .medium-textarea{
        overflow-x: hidden;
    }

    .competition-block{
        .work-search-block{
            button[type="submit"]{
                top: 1px;
            }
        }
    }

    .tabs-container{
        .scrollbar{
            margin: 0;
            top: 360px;
        }
    }

    input[type="text"], input[type="email"], input[type="password"], textarea{
        border: 2px solid #CDCDCD;
        line-height: 35px;
    }
}
