.side-bar{
    width: 170px;
    margin: 0 20px 0 0;
    padding-bottom: 60px;
    + .center{
        margin-right: 300px;
        overflow: hidden;
    }

    h2{
        margin: 0 0 30px 0;
    }

    .feed-unit{
        .feed-unit-details{
            margin: 14px 0 0 0;
        }

        + .feed-unit{
            margin: 35px 0 0 0;
        }
    }

    .more-btn{
        margin: 35px 0 0 0;
    }
}

.members-events{
  padding-bottom: 60px;
  width: 325px;
  + .center{
    margin-right: 425px;
    overflow: hidden;
  }
  .bordered-title{
    margin: 0 0 20px;
  }
  .more-btn{
    margin: 28px 15px 0 0;
  }
  .participant-container{
    margin-right: -35px;
    .participant{
      display: block;
      text-align: center;
      text-decoration: none;
      height: 175px;
      width: 135px;
      margin: 0 35px 15px 0;
      .image-container{
        height: 108px;
        width: 130px;
        img{
          @include border-radius(10px 10px 10px 10px / 40px 40px 40px 40px);
          height: 108px;
          width: 130px;
          @include box-shadow(0 6px 17px rgba(0, 0, 0, 0.3));
        }
      }
      .name{
        color: #2e87a9;
        max-height: 36px;
        overflow: hidden;
        text-decoration: underline;
        margin-top: 10px;
      }
      .city{
        color: #acacac;
        font-style: italic;
        margin-top: 3px;
      }
      &:hover .name{
        text-decoration: none;
      }
    }
  }
  .events-block{
    margin-top: 35px;
    position: relative;
    > *{
      position: relative;
      z-index: 1;
    }
    &:before{
      content: '';
      position: absolute;
      @include sprite-image-sprite(events-bg);
      z-index: 0;
      left: -47px;
      top: -52px;
    }
    .events-info{
      margin-right: 18px;
      + .events-info{
        margin-top: 20px;
      }
      a{
        font-weight: normal;
        font-size: 12px;
      }
    }
    .events-unit{
      border: none;
    }
  }
}