//top line
.top-line{
  background: #252525;
  height: 35px;
  color: #ffffff;
  line-height: 33px;
  a{
    color: #ffffff;
    text-decoration: none;
  }
  .center-wrapper{
    > div{
      padding: 0 15px;
    }
  }
  .drop-down-holder{
    position: relative;
    cursor: pointer;
    > span{
      border-bottom: 1px dashed #fff;
      position: relative;
      display: inline-block;
      line-height: normal;
      font-weight: bold;
    }
    &:hover{
      > span{
        border-bottom-color: transparent;
      }
      .drop-down{
        display: block;
      }
    }
    .drop-down{
      position: absolute;
      top: 0;
      white-space: nowrap;
      line-height: normal;
      padding-top: 35px;
      display: none;
      z-index: 100;
      .background-container{
        background: #252525;
        @include box-shadow(inset 0 13px 10px -10px rgb(0, 0, 0));
        overflow: hidden;
      }
      li+li{
        border-top: 1px solid #464646;
      }
      a{
        display: block;
        padding: 10px;
        &:hover{
          background: #464646;
        }
      }
    }
  }
  .other-projects, .site-language{
    .drop-down-holder > span:after{
      content: '';
      position: absolute;
      @include sprite-image-sprite(dropdown-arrow);
      right: -17px;
      top: 2px;
    }
  }
  .other-projects, .site-language{
    .drop-down{
      left: -10px;
    }
  }
  .site-language {
    position: relative;
    padding: 0 27px 0 16px!important;
    &:before, &:after{
      content: '';
      background: #464646;
      position: absolute;
      height: 20px;
      top: 8px;
      width: 1px;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
    .label{
      color: #898989;
      margin-right: 6px;
      font-weight: bold;
    }
    ul{
      min-width: 120px;
    }
  }
  .login{
    text-align: center;
    .drop-down{
      right: -10px;
    }
    .placeholder-container{
      margin-top: 18px;
      padding: 0 10px 12px;
      + .placeholder-container{
        margin-top: 0;
      }
      label{
        top: 5px;
        left: 17px;
      }
    }
    .otherwise{
      padding: 10px 0 13px;
      color: #898989;
      a{
        display: inline;
        text-decoration: underline;
        margin-left: 4px;
        padding: 0;
        &:hover{
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
  .search-container{
    margin-top: 1px;
    .placeholder-container{
      display: block;
    }
    input[type="text"]{
      padding-right: 22px;
      width: 176px;
    }
    label{
      left: 7px;
      top: 9px;
      line-height: normal;
    }
    .find{
      position: absolute;
      border: none;
      @include sprite-image-sprite(top-search-ico);
      right: 3px;
      top: 8px;
    }
  }
}